
alias sudo='sudo '
alias python='python3'
alias naut='gtk-launch nemo.desktop'
alias snaut='sudo naut'
alias edit='code --profile notepad'
alias sedit='sudo gtk-launch geany.desktop'
alias nvide='env -u WAYLAND_DISPLAY neovide --multigrid'
alias cls="clear && printf '\e[3J'"
alias cat='bat -p'
alias copy='wl-copy'
alias play='mpv $(wl-paste)'
alias gitd='~/Documents/Scripts/gitDownload.sh'
alias wttr='curl "wttr.in/Pune?0qM"'
alias usage='du -ah -d1 | sort -rn 2>/dev/null'
alias vim='nvim'
alias nf='neofetch --source ~/Pictures/fubuki.jpg --size 360 --yoffset 2'
alias swire='SoundWireServer'
alias animerelease='python ~/Documents/Scripts/animeRelease.py'
alias pdfcrop='python ~/Documents/Scripts/pdfCrop.py'
alias pdfshrink='~/Documents/Scripts/pdfShrink.sh'
alias pacdiff='sudo -H DIFFPROG=meld pacdiff'
alias pashare='~/Documents/Scripts/pashare'
alias pamic='~/Documents/Scripts/pamic'
alias codium-features='~/Documents/Scripts/codium-features.sh'
alias ls='lsd -a'
alias ll='lsd -ahl'
alias lst='lsd -a --tree -I .git'
alias llt='lsd -ahl --tree -I .git'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias boot-options='pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY HOME=$HOME garuda-boot-options -style kvantum 2>/dev/null & disown'
alias clrbuff='free -h && sudo sysctl -w vm.drop_caches=3 && sudo sync && echo 3 | sudo tee /proc/sys/vm/drop_caches && free -h'
alias sshperm='find .ssh/ -type f -exec chmod 600 {} \;; find .ssh/ -type d -exec chmod 700 {} \;; find .ssh/ -type f -name "*.pub" -exec chmod 644 {} \;'

# Common use
alias update="sudo sh -c 'apt update && apt full-upgrade && apt autoremove && apt clean'"
alias aup="sudo sh -c 'pamac upgrade --aur; pamac clean -b'"
alias grubup='sudo update-grub'
alias fixpacman='sudo rm /var/lib/pacman/db.lck'
alias tarnow='tar -acf '
alias untar='tar -zxvf '
alias wget='wget -c '
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias reflect='sudo reflector --verbose -f 10 -l 50 -a 2 -p https --sort rate --save /etc/pacman.d/mirrorlist && cat /etc/pacman.d/mirrorlist'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias big="expac -H M '%m\t%n' | sort -h | nl"          # Sort installed packages according to size in MB (expac must be installed)
alias gitpkg='pacman -Q | grep -i "\-git"'			    # List amount of -git packages

#Cleanup orphaned packages & cache
alias cleanup='sudo pacman -Rns $(pacman -Qtdq)'
alias cleancache='sudo pacman -Scc'

#get the error messages from journalctl
alias jctl='journalctl -p 3 -xb'

#Recent Installed Packages
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"

#Git alias
alias g='git'
alias ga='git add'
alias gau='git add --update'
alias gaa='git add --all'
alias gapa='git add --patch'
alias gav='git add --verbose'
alias gap='git apply'
alias gapt='git apply --3way'

alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -d'
alias gbD='git branch -D'
alias gbm='git branch -m'
alias gbM='git branch -M'
alias gbnm='git branch --no-merged'
alias gbr='git branch --remote'
alias gbl='git blame -b -w'

alias gbsb='git bisect bad'
alias gbsg='git bisect good'
alias gbsr='git bisect reset'
alias gbss='git bisect start'

alias gc='git commit -v'
alias gcm='git commit -v -m'
alias gca='git commit -v --amend'
alias gcam='git commit -v --amend -m'
alias gcan='git commit -v --amend --no-edit'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcof='git checkout --force'
alias gcp='git cherry-pick'
alias gcpa='git cherry-pick --abort'
alias gcpc='git cherry-pick --continue'

alias gd='git diff'
alias gdca='git diff --cached'
alias gdcw='git diff --cached --word-diff'
alias gdw='git diff --unified=0 --word-diff=color'
alias gdwn='git diff --unified=0 --word-diff=color --no-index'

alias gf='git fetch'
alias gfa='git fetch --all'
alias gfap='git fetch --all --prune'
alias gfo='git fetch origin'

alias gl='git log'
alias gla='git log --all'
alias glag='git log --all --graph'
alias glang='git log --all --name-status --graph'

alias gm='git merge'
alias gmo='git merge origin'
alias gmtl='git mergetool --no-prompt'
alias gmtlvim='git mergetool --no-prompt --tool=vimdiff'
alias gmu='git merge upstream'
alias gma='git merge --abort'

alias gP='git pull'
alias gPdr='git pull --dry-run'
alias gPf='git pull --force'
alias gPff='git pull --ff-only'
alias gPo='git pull origin'
alias gPn='git pull --no-rebase'
alias gPno='git pull --no-rebase origin'
alias gPr='git pull --rebase'

alias gp='git push'
alias gpd='git push -d'
alias gpdr='git push --dry-run'
alias gpdo='git push -d origin'
alias gpf='git push --force'
alias gpfo='git push --force origin'
alias gpfl='git push --force-with-lease'
alias gpflo='git push --force-with-lease origin'
alias gpo='git push origin'
alias gpoa='git push origin --all'
alias gpu='git push -u'
alias gpuo='git push -u origin'

alias grb='git rebase'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbi='git rebase -i'
alias grbo='git rebase --onto'
alias grbs='git rebase --skip'

alias gr='git remote'
alias gra='git remote add'
alias grao='git remote add origin'
alias grau='git remote add upstream'
alias grr='git remote rename'
alias grrm='git remote remove'
alias grs='git remote set-url'
alias grso='git remote set-url origin'
alias grv='git remote -v'
alias gru='git remote update'

alias gR='git reset'
alias gRh='git reset --hard'
alias gRs='git reset --soft'
alias gpristine='git reset --hard && git clean -dffx'

alias grm='git rm'
alias grmc='git rm --cached'
alias grmcf='git rm --cached -f'
alias grmcr='git rm --cached -r'
alias grmcrf='git rm --cached -rf'

alias grst='git restore'
alias grsts='git restore --source'
alias grstS='git restore --staged'

alias gsh='git show'
alias gsps='git show --pretty=short --show-signature'
alias gs='git status'
alias gss='git status -s'
alias gS='git stash'
alias gSd='git stash drop'
alias gSl='git stash list'
alias gSs='git stash show'

alias gcl='git clone'
alias gclean='git clean -id'
alias gi='git init'
alias ghh='git help'
alias gignore='git update-index --assume-unchanged'
alias gignored='git ls-files -v | grep "^[[:lower:]]"'
alias gunignore='git update-index --no-assume-unchanged'
alias grev='git revert'
