:root {
  --tab-height: 25px;
  --tab-radius: 6px;
}
.monaco-workbench .part.titlebar>.window-controls-container,
.monaco-workbench .part.editor>.content>.watermark,
.monaco-action-bar .actions-container .menu-entry {
  display: none !important;
}
.monaco-workbench.linux .part.titlebar>.window-title {
  font-size: 12.5px !important;
}
.monaco-workbench .part.titlebar .window-appicon>.home-bar-icon-badge,
.monaco-workbench .part.titlebar>.window-appicon:not(.codicon) {
  background-image: url(/usr/share/vscodium-bin/resources/app/out/vs/workbench/vsc.svg) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container.empty .editor-group-letterpress {
  background-image: url(/usr/share/vscodium-bin/resources/app/out/vs/workbench/vsc-back.svg) !important;
}
.monaco-workbench .part.editor.has-watermark>.content.empty .editor-group-container>.editor-group-letterpress {
  background-position-y: 50% !important;
}
.mac, .windows, .linux {
  font-family: "FantasqueSansMono Nerd Font" !important;
  --monaco-monospace-font: "FantasqueSansMono Nerd Font Mono" !important;
}

/* Editor Background */
.monaco-editor, .split-view-view .monaco-editor-background {
  background: url(/usr/share/vscodium-bin/resources/app/out/vs/workbench/peek.png) bottom right / 10% auto no-repeat scroll;
  /*background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url(/usr/share/vscodium-bin/resources/app/out/vs/workbench/bg.jpg) center center / auto 100vh no-repeat scroll;*/
}

/* Scrollbar */
.monaco-scrollable-element>.scrollbar>.slider {
  border-radius: 7px !important;
}
.monaco-scrollable-element>.scrollbar>.slider.active {
  background: #bd93f9 !important; /* #c50ed2 */
}
canvas.decorationsOverviewRuler,
.monaco-scrollable-element>.scrollbar.vertical,
.monaco-scrollable-element>.scrollbar.vertical>.slider {
  width: 7px !important;
}
.monaco-scrollable-element>.scrollbar.horizontal,
.monaco-scrollable-element>.scrollbar.horizontal>.slider {
  height: 7px !important;
}
.monaco-scrollable-element>.scrollbar.horizontal>.slider {
  width: 135px !important;
}

/* Active tab border */
.tab:first-child {
  margin-left: calc(var(--tab-radius) - 2px) !important;
}
.tab:last-child {
  margin-right: calc(var(--tab-radius) - 2px) !important;
}
.tab.active {
  border: 2px solid #bd93f9 !important;
  background-color: transparent !important; /* rgb(20, 24, 34) */
  border-radius: var(--tab-radius) var(--tab-radius) 0 0 !important;
  border-bottom: 2px solid #0c0e14 !important;
  z-index: 1 !important;
}
/* Border bottom radius */
.tab.active::before,
.tab.active::after {
    content: '' !important;
    display: block !important;
    box-sizing: border-box !important;
    position: absolute !important;
    z-index: 999999;
    width: var(--tab-radius) !important;
    height: var(--tab-radius) !important;
    bottom: -2px !important;
    pointer-events: none !important;
    border-bottom: 2px solid #bd93f9 !important;
}

.tab.active::before {
    border-bottom-right-radius: var(--tab-radius) !important;
    left: 0 !important;
    transform: translateX(calc(0px - var(--tab-radius))) !important;
    border-right: 2px solid #bd93f9 !important;
    box-shadow: 2px 2px 0 2px #0c0e14 !important;
}

.tab.active::after {
    border-bottom-left-radius: var(--tab-radius) !important;
    right: 0 !important;
    transform: translateX(calc(var(--tab-radius))) !important;
    border-left: 2px solid #bd93f9 !important;
    box-shadow: -2px 2px 0 2px #0c0e14 !important;
}
.tabs-container:before {
  content: '' !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: linear-gradient(90deg, rgb(12,14,20),rgb(189, 172, 255),rgb(189,147,249),rgb(189,147,249),rgb(189,147,249),rgb(189,172,249), rgb(12,14,20)) !important;
  clip: rect(33px, 2600px, 33px, 0px) !important;
  position: absolute !important;
}
.tabs-container:after {
  content: '' !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: linear-gradient(90deg, rgb(12,14,20),rgb(189, 172, 255),rgb(189,147,249),rgb(189,147,249),rgb(189,147,249),rgb(189,172,249), rgb(12,14,20)) !important;
  clip: rect(33px, 2600px, 35px, 0px) !important;
  position: absolute !important;
}
.tab-label > .monaco-icon-label-container::after {
  background: transparent !important;
}


/* Tab height (Won't work perfectly cuz along with this js is required to adjust editor's height)
.monaco-workbench .part>.title {
  height: var(--tab-height) !important;
}
.monaco-workbench .part>.title>.title-label {
  line-height: var(--tab-height) !important;
}
.monaco-workbench .part>.title>.title-actions {
  height: var(--tab-height) !important;
}
.monaco-workbench .activitybar .menubar,
.monaco-workbench .activitybar .menubar.compact .toolbar-toggle-more {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.editor-group-container-toolbar {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title>.label-container {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title>.label-container>.title-label {
  line-height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title>.title-actions {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label {
  line-height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .monaco-icon-label:before {
  height: var(--tab-height) !important;
}
.monaco-workbench>.notifications-center>.notifications-center-header {
  height: var(--tab-height) !important;
}
.monaco-workbench .part.panel .composite.title {
  height: var(--tab-height); !important;
}
.monaco-workbench .part.panel>.composite.title>.panel-switcher-container>.monaco-action-bar {
  line-height: 17px !important;
  height: var(--tab-height) !important;
}*/
