html {
  font-family: sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

