<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Basic HTML5</title>
  <meta name="author" content="Pratik Pingale">
  <meta name="description" content="HTML5 Template">

  <meta property="og:title" content="HTML5 Template">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://">
  <meta property="og:description" content="HTML5 Template">
  <meta property="og:image" content="./assets/preview.png">

  <link rel="icon" href="./assets/favicon.ico">
  <link rel="icon" href="./assets/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="./assets/apple-touch-icon.png">

  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/main.js" defer></script>

</head>

<body>
  <!-- your content here... -->
</body>

</html>
