#arc-search{
width: 290px;
}

.arc-menu-status-text{
color:rgb(240,240,240);
font-size:10pt;
}

.search-statustext{
font-size:11pt;
}

#ExtraLargeIconGrid{
width: 150px;
 height: 150px;
text-align: center;
 border-radius: 8px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
}

#LargeIconGrid{
width: 95px;
 height: 95px;
text-align: center;
 border-radius: 8px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
}

#MediumIconGrid{
width: 87px;
 height: 87px;
text-align: center;
 border-radius: 8px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
}

#SmallIconGrid{
width: 80px;
 height: 80px;
text-align: center;
 border-radius: 8px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
}

#LargeRectIconGrid{
width: 95px;
 height: 85px;
text-align: center;
 border-radius: 8px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
}

#MediumRectIconGrid{
width: 92px;
 height: 78px;
text-align: center;
 border-radius: 8px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
}

#SmallRectIconGrid{
width: 85px;
 height: 70px;
text-align: center;
 border-radius: 8px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
}

.left-panel{
width:290px;
}

.left-panel-small{
width:225px;
}

.right-panel{
width:205px;
}

.right-panel-plus45{
width:250px;
}

.right-panel-plus70{
width:275px;
}

.default-search-entry{
max-width: 17.667em;
}

.arc-search-entry{
max-width: 17.667em;
font-size:10pt;
border-color:rgb(63,62,64);
border-width: 1px;
color:rgb(240,240,240);
background-color:rgba(15, 17, 25, 1);
}

.arc-search-entry:focus{
border-color:rgb(17,19,28);
border-width: 1px;
box-shadow: inset 0 0 0 1px rgba(16, 18, 27, 1.00);
}

.arc-search-entry StLabel.hint-text{
color: rgba(240, 240, 240, 0.6);
}

#ArcSearchEntry{
min-height: 0px;
border-radius: 8px;
border-width: 1px;
padding: 7px 9px;
}

#ArcSearchEntryRound{
min-height: 0px;
border-radius: 18px;
border-width: 1px;
padding: 7px 12px;
}

.symbolic-icons{
-st-icon-style: symbolic;
}

.regular-icons{
-st-icon-style: regular;
}

.arcmenu-menu-item{
border-radius: 8px;
}

.margin-box{
margin: 0px 4px;
}

#arc-menu-launcher-button{
max-width: 90px;
border-radius: 0px;
 padding: 5px;
 spacing: 0px;
 margin: 0px;
border-color: transparent;
border-bottom-width: 3px;
}

#arc-menu-launcher-button.active-item, #arc-menu-launcher-button:active{
background-color: rgba(245, 245, 245, .05);

border-color: rgb(61, 174, 235);
border-bottom-width: 3px;
}

#arc-menu-plasma-button{
width: 90px;
 height: 65px;
border-radius: 8px;
 text-align: center;
 padding: 5px;
 spacing: 0px;
 margin: 0px;

border-top-width: 2px;;
border-color: transparent;
}

#arc-menu-plasma-button:active-item, .arc-menu-plasma-button:active{
background-color: rgba(245, 245, 245, .05);
border-top-width: 2px;
border-color: rgb(61, 174, 235);
}

StScrollView .small-vfade{
-st-vfade-offset: 44px;
}

.arc-menu-button{
-st-icon-style: symbolic;
border-width: 1px;
border-radius: 8px;
padding: 8px;
}

.arcmenu-small-button{
-st-icon-style: symbolic;
border-radius: 8px;
padding: 3px 8px;
}

.arc-menu .popup-menu-item .arcmenu-small-button.selected{
background-color: rgba(13, 14, 21, 1.00)
}

.arc-menu-menu-item-indicator{
color: rgb(41, 165, 249);
}

.arc-menu-menu-item-text-indicator{
background-color: rgba(196, 196, 196, 0.3);
}

.tooltip-menu-item{
border-radius: 8px;
box-shadow: 0 0 1px 0px rgb(63,62,64);
font-size:10pt;
padding: 3px 8px;
min-height: 0px;
color:rgb(240,240,240);
background-color:rgba(16, 18, 27, 1);
max-width:550px;
}

.arc-menu{
-boxpointer-gap: 0px;
min-width: 15em;
color: #D3DAE3;
border-image: none;
box-shadow: none;
font-size:10pt;
}

.arc-menu .popup-sub-menu{
padding-bottom: 1px;
background-color: rgba(16, 18, 27, 0.957);
}

.arc-menu .popup-menu-item{
spacing: 6px; 
border: none;
color:rgb(240,240,240);
}

.arc-menu .popup-menu-item:active{
background-color:rgba(14, 16, 24, 1.00); 
color: rgba(255,255,255,1);
}

.arc-menu .popup-menu-item.selected{
background-color:rgb(17,19,28); 
color: rgba(255,255,255,1);
}

.arc-menu .popup-menu-item:checked{
background-color:rgb(17,19,28); 
color: rgba(255,255,255,1);
}

.arc-menu .popup-menu-item:insensitive{
color:rgba(240, 240, 240, 0.6);
}

.arc-menu-boxpointer{ 
-arrow-border-radius:15px;
-arrow-background-color:rgba(17,19,28,0.959732);
-arrow-border-color:rgb(41,50,55);
-arrow-border-width:0px;
-arrow-base:24px;
-arrow-rise:12px;
}

.arc-menu .popup-menu-content{
padding: 16px 0px;
margin: 0;
background-color: transparent;
border-radius: 0px;
box-shadow: 0;
}

.arcmenu-separator{
padding: 0px;
height: 1px;
margin: 0px 20px;
}

.separator-color-style{
background-color: rgb(63,62,64);
}

.menu-user-avatar{
background-size: contain;
border-radius: 999px;
}

